
/* Your CSS Code here. */
.divs{
	height:120px;
	width:120px;
}
.div1{
	background-color:green;
}

.div2{
	background-color:red;
}

.div3{
	background-color:blue;
}
.holder{
	display:flex;
	justify-content:space-between;
	flex-wrap:wrap;
}